.app__video{
    height:100vh;
    position:relative;
}

.app__video video{
    height:100%;
    width:100%;
    object-fit:cover;
}

.app__video-overlay{
    position: absolute;
    inset:0 ;
    background:rgba(0,  0, 0, 0.40);
}

.app__video-overlay_circle{
    width:100px;
    height:100px;
    border-radius:50%;
    border: 1px solid var(--color-golden);
    cursor:pointer;
} 

@media screen and (max-width:2000px) {
    .app__video{
        height:90vh;
        width:100%;
        position:relative;
    }
    .app__video video{
       height:100%;
        width:100%;
        
    }  
}
@media screen and (max-width:1400px) {
   
    .app__video{
        height:70vh;
        width:100%;
        position:relative;
    }
    .app__video video{
       height:100%;
        width:100%;
        
    }
}
@media screen and (max-width:1100px) {
   
    .app__video{
        height:55vh;
        width:100%;
        position:relative;
    }
    .app__video video{
       height:100%;
        width:100%;
        
    }
}
@media screen and (max-width:800px) {
    .app__video{
        height:45vh;
        width:100%;
        position:relative;
    }
    .app__video video{
       height:100%;
        width:100%;
        
    }
}
@media screen and (max-width:600px) {
    .app__video{
        height:30vh;
        width:100%;
        position:relative;
    }
    .app__video video{
       height:100%;
        width:100%;
        
    }
}